html,body {
    background-color:coral;
    height:100%;
  }

  .header {
    padding: 60px;
    text-align: center;
    background: rgb(255, 146, 127);
    color: white;
    font-size: 30px;
  }

  #content{
    width: 54%;
    min-height: 100%;
    float: left;
    margin-right: 3%;
    background-color: tomato;
    text-align: center;
  }
  
  #sidebar-left{
    width: 20%;
    height: 130px;
    float: left;
    margin-right: 3%;
    background-color: tomato;
    text-align: center;
  }
  
  #sidebar-right{
    width: 20%;
    height: 130px;
    float: left;
    background-color: tomato;
    text-align: center;
  }

  #bottom-right{
    width:43%;
    height: 130px;
    float: right;
    margin-top: 20px;
    background-color: rgb(199, 101, 83);
    text-align: center;
  }
  